---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  <url>
    <loc>https://montereybayoor.com{{ page.url }}</loc>
    <lastmod>2024-02-25</lastmod>
  </url>
{%- endfor %}
</urlset>